.container {
  .main-menu {
    display: inline-block;
    width: 100%;
    border: 1px solid $borderColor;
    margin: 10px auto;

    ul {
      &.nav {
        margin: 5px;
      }
    }
  }

  .main-content {
    border: 1px solid $borderColor;
    padding: 10px;

    #addon5 {
      height: 250px;
      color: red;

      #project-author {
        height: 250px;
        color:red;
        // display: inline-block;
          border-bottom: 0 solid $borderColor;
      }
    }

    .tab-content {
      padding: 10px;
      border: 1px solid $borderColor;
      border-top: 0 solid $borderColor;
    }
    .txtarr{
      height:250px;
    }
  }
}
